<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>RealEstate</title>
   <th:block th:include="~{/fragments/head}"></th:block>
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	   <th:block th:include="~{/fragments/guest-nav}"></th:block>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Find Your Perfect <br>Home From Your Area.</h1>
	            <p style="font-size: 18px;">We offer a wide range of properties and we have a blog to
                    guide you through your journey to your dream home!</p>
	            <p><a th:href="@{/login}" class="btn btn-primary py-3 px-4">Login</a><small> <-or-> </small>
                    <a th:href="@{/users/register}" class="btn btn-primary py-3 px-4">Register</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="ftco-footer ftco-section">
    <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
    
  

  <th:block th:include="~{/fragments/bodyScript}"></th:block>
    
  </body>
</html>